<!-- <div class="alert alert-success">
  <div class='container'>
    <p>Ten Year Anniversary Is Right Around the Corner! <span class='read-more'><strong><a href='#'>Read More</a></strong></span></p>
  </div>
</div>
 -->

<header class="header container">
    
    <a href="{{ siteUrl }}" class='header-logo'><img src="{{ siteUrl }}img/ohka-logo.svg"></a>
    
    <ul class="super-nav">
      <li><a href="{{ url('contact') }}" target="_blank"><button>Contact</button></a></li>
      <li><a href="{{ url('training') }}" target="_blank"><button>Training</button></a></li>
      <li><a href="{{ url('http://www.omahahealthykids.org/get-involved/donate/') }}" target="_blank"><button>Donate</button></a></li>
    </ul>

  <nav class="header-nav">
    <ul>
      <li class='squiggly'><img src="{{ siteUrl }}img/ohka-squiggly.svg"></li>
      <a class='hvr-underline-reveal' href="{{ url('whats-a-healthy-home') }}" {% if craft.request.firstSegment == 'whats-a-healthy-home' %}class="active"{% endif %}><li>What's A<br>Healthy Home</li></a>
      <li class='squiggly'><img src="{{ siteUrl }}img/ohka-squiggly.svg"></li>
      <a class='hvr-underline-reveal' href="{{ url('why-healthy-homes-matter-in-omaha') }}" {% if craft.request.firstSegment == 'why' %}class="active"{% endif %}><li>Why Health Homes<br>Matter In Omaha</li></a>
      <li class='squiggly'><img src="{{ siteUrl }}img/ohka-squiggly.svg"></li>
      <a class='hvr-underline-reveal' href="{{ url('how-ohka-makes-a-difference') }}" {% if craft.request.firstSegment == 'how' %}class="active"{% endif %}><li>How OHKA Makes<br>A Difference</li></a>
      <li class='squiggly'><img src="{{ siteUrl }}img/ohka-squiggly.svg"></li>
    </ul>
  </nav>


<!--   <a href="#" class="hvr-underline-reveal">Underline Reveal</a> -->
</header>








<div class="navbutton">
  <a class="btn-open" href="#"></a>
</div>

<div class="overlay">
  <a href="{{ siteUrl }}" class='header-logo-mobile'><img src="{{ siteUrl }}img/ohka-logo-white.svg"></a>
  
  <div class="wrap">
    <ul>
      <li><a href='{{ url('whats-a-healthy-home') }}'>What's A<br>Healthy Home</a></li>
      <li><a href='{{ url('why-healthy-homes-matter-in-omaha') }}'>Why Healthy Homes<br>Matter In Omaha</a></li>
      <li><a href='{{ url('how-ohka-makes-a-difference') }}'>How OHKA Makes<br>A Difference</a></li>
    
      <li><a href="{{ url('contact') }}" target="_blank">Contact</a></li>
      <li><a href="{{ url('training') }}" target="_blank">Training</a></li>
      <li><a href="{{ url('http://www.omahahealthykids.org/get-involved/donate/') }}" target="_blank">Donate</a></li>
    </ul>

<!--     <div class="social-hidden">
      <a href="http://mario-loncarek.from.hr/">
        <div class="social-icon-hidden">
          <i class="fa fa-facebook"></i>
        </div>
      </a>
      <a href="#">
        <div class="social-icon-hidden">
          <i class="fa fa-twitter"></i>
        </div>
      </a>
      <a href="#">
        <div class="social-icon-hidden">
          <i class="fa fa-instagram"></i>
        </div>
      </a>
    </div> -->

  </div>
</div>







<!--  
<a href="https://www.facebook.com/omahahealthykids" class="fa fa-facebook"></a>&nbsp;&nbsp;
<a href="https://twitter.com/OHKA1" class="fa fa-twitter"></a>
<a href="https://www.youtube.com/omahahealthykids" class="fa fa-youtube"></a>&nbsp;&nbsp;
<a href="https://www.flickr.com/photos/31576456@N03/" class="fa fa-flickr"></a>
-->