.bp-title {
  position: relative;
	padding: 50px;
  text-align: center;
  margin-top: 105px;
  background: url("../../img/ohka-pattern.svg");
  background-position: center center;
  background-repeat: repeat;
  margin-bottom: 50px;
}

  @media (min-width: 700px) {
    .bp-title {
    margin-top: 0;
    }
  }

  @media (min-width: 1024px) {
    .bp-title {
    padding: 130px 50px;
    margin-bottom: 100px;
    }
  }

  @media (max-height: 800px) {
    .bp-title  {
    padding: 50px;
    margin-bottom: 50px;
    }
  }
  

.bp-row h3 {
  padding-bottom: 15px;
}

.bp-img {
  margin-bottom: 60px;
}

.bp-subheader {
  background: #f4ece3;
  color: #558d9c;
  letter-spacing: 1.5px;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.creator {
  position: relative;
  display: inline-block;
  text-align: left;
}

.speaker-title img {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.speaker-title div {
  display: table-cell;
  vertical-align: middle;
}

.speaker-title h4 {
  font-size: 2.4rem;
  margin-top: 10px;
  color: #153454;
  margin-bottom: .0rem;
}

.speaker-title div p {
	font-size: 18px;
}

  @media (min-width: 600px) {

    .speaker-title {
      height: 170px;
      padding: 0 25px 0 205px;
      width: 100%;
      margin-bottom: 10px;
      display: table;
    }

    .speaker-title img {
      position: absolute;
      width: 250px;
      height: 250px;
      margin-bottom: 10px;
    }
    
    .speaker-title div {
    padding: 0 120px 0 80px;
    }
  }




.bp-tertiary-list {
 	font-size: 0;
  text-align: center;
}

.bp-tertiary-list a {
    display: inline-block;
    padding: 30px;
}

  @media (min-width: 800px) {
    .bp-tertiary-list a {
    display: inline-block;
    vertical-align: middle;
    }
  }


.bp-tertiary-list img {
  transition: all .2s ease-in-out;
	border-radius: 100px;
  width: 150px;
  height: 150px;
}

  @media (min-width: 1024px) {
    .bp-tertiary-list a {
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    }

    .bp-tertiary-list a:nth-child(4), .bp-tertiary-list a:nth-child(8) { border-right: 0px;}
    .bp-tertiary-list a:nth-child(5), .bp-tertiary-list a:nth-child(6), .bp-tertiary-list a:nth-child(7), .bp-tertiary-list a:nth-child(8) { border-bottom: 0px; }
  }


  @media (min-width: 1100px) {
    .bp-tertiary-list a {
    padding: 50px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    }
  }


  @media (min-width: 1220px) {
    .bp-tertiary-list a {
    padding: 60px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    }
  }


  @media (min-width: 1300px) {
    .bp-tertiary-list img {
      transition: all .2s ease-in-out;
      border-radius: 100px;
      width: 170px;
      height: 170px;
    }
  }


.bp-tertiary-list a img:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

.action-callout {
	position: relative;
  background-repeat: no-repeat;
  background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding: 100px 50px;
	text-align: center;
}

.action-callout h3 {
  color: #fff;
  padding-bottom: 40px;
}

  @media (min-width: 800px) {
  .action-callout {
    margin-top: 60px;
    padding: 200px 50px;
  }

  .action-callout h3 {
    font-size: 4.0rem;
  }
  }