.contact {
	text-align: center;
}

.v-row-contact-intro {
    padding-bottom: 40px;
}

.v-row-contact {
	padding: 0 0 70px 0;
}

.contact input {
	height: 62px;
	border: 2px solid #FB9644;
	margin-bottom: 20px;
	padding-left: 20px;
}

.contact textarea {
	height: 200px;
	border: 2px solid #FB9644;
	margin-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 40px;
}

#map {
	width: 400px;
	height: 400px;
	border-radius: 200px;
	margin-top: 0 auto !important;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}