.follow {
  text-align: right;
}

.learnmore {
  font-size: 16px;
  color: #68b54d;
  letter-spacing: .2px;
}


.index_intro {
  padding: 35px 0 60px;
}

  @media screen and (max-width: 1023px) {
  .index_intro .seven {
    width: 100%;
  }
  }

.post_preview {
  position: relative;
  background-color: #f4ece3;
  padding: 40px 40px 25px 40px;
  margin-bottom: 20px;
}

  @media screen and (min-width: 1024px) {
  .post_preview {
  width: 56.6666666667%;
  min-height: 160px;
  }
  }


.post_preview h2 {
  font-size: 4rem;
  margin-bottom: 25px;
}

.post_preview h2 a { color: #568d9b; }
.post_preview h2 a:hover { color: #406670; }

.readmore_link {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  font-size: 14px;
  margin-left: 180px;
}

  @media screen and (max-width: 1023px) {
  .readmore_link {
    padding-top: 45px;
    padding-bottom: 10px;
    margin-left: 0px;
  }
  }

.share_post {
  position: absolute;
  display: inline-block;
  padding-top: 1px;
  vertical-align: top;
  text-align: center;
  list-style: none;
  font-size: 14px;
}

.share_post li {
  float: left;
}

@media screen and (min-width: 1024px) {
.has-image p, .has-image h2 {
  padding-right: 190px;
}
}

.post_preview p {
}

  @media screen and (max-width: 1023px) {
  .post_preview img {
    display: none;
  }
  }

  @media screen and (min-width: 1024px) {
  .post_preview img {
    border-radius: 100px;
    width: 140px;
    height: 140px;
    display: inline-block;
  }
  }

  .post_preview img {
    position: absolute;
    left: auto;
    top: 40px;
    right: 40px;
    max-width: 220px;
  }



  .post_preview img {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  max-width: 220px;
  }



.action {
  position: relative;
  min-height: 300px;
  width: 100%;
  margin-bottom: 100px;
}

@media (min-width: 1024px) {
  .action {
    background-color: #f4f3f3;
  }
}


.action-label {
  position: absolute;
  z-index: 1;
  margin-top: 2.5%;
}

.caption {
  padding: 0px;
}

.caption-what {
  padding: 0px;
}

.caption-what h3, .caption-why h3, .caption-how h3{
  padding-bottom: 20px;
}

.caption-why {
  padding: 0px;
}


@media (min-width: 1024px) {
  .caption-what {
    padding: 100px 100px 100px 250px;
  }

  .caption-why {
    padding: 100px 150px 100px 350px;
  }

  .caption-how {
    padding: 100px 150px 100px 150px;
  }
}


/*    !!!!!!!!!!  WHAT  !!!!!!!!!!    */

.what {
  position: relative;
  margin-top: 150px;
  border-bottom: 1px solid #ddd;
}

.whatkid {
  float: left;
  width: 125px;
  padding-right: 30px;
}

  @media (max-width: 1023px) {
  .whatword {
    display: none;
  }
  }

  @media (min-width: 1024px) {
  .whatkid {
  position: absolute;
  width: 227px;
  right: 90px;
  top: -436px;
  }
    
  .whatword {
  margin-top: -65px;
  }

  .whatword-title {
  display: none;
  }
  }

  @media (min-width: 1270px) {
  .whatword {
  margin-top: -85px;
  }
  }







.why {
  right: 0;
  min-height: 346px;
  margin: 75px 0;
  border-bottom: 1px solid #ddd;
}

.whykid {
  float: left;
  width: 125px;
  padding-right: 30px;
}

.whyword {
  margin-top: -50px;
  padding-right: 2%;
  right: 0;
}

  @media (max-width: 1023px) {
  .whyword {
    display: none;
  }
  }


  @media (min-width: 1024px) {
  .whykid {
  position: absolute;
  width: 220px;
  left: 40px;
  top: -145px;
  }

  .whatword-title {
  display: none;
  }
  }





.how {
  min-height: 346px;
  margin: 75px 0;
  border-bottom: 1px solid #ddd;
}

.howkid {
  float: left;
  width: 125px;
  padding-right: 30px;
}

.howword {
  margin-top: -100px;
  padding-left: 7%;
}

  @media (max-width: 1023px) {
  .howword {
    display: none;
  }
  }

  @media (min-width: 1024px) {
  .howkid {
  position: absolute;
  width: 238px;
  right: 100px;
  top: 195px;
  }
  }



.donate {
  margin: 150px 0;
}

.support {
  margin-top: 150px;
}