.follow {
  text-align: right;
}

.learnmore {
  font-size: 16px;
  color: #68b54d;
  letter-spacing: .2px;
}


.index_intro {
  padding: 35px 0 60px;
}

  @media screen and (max-width: 1023px) {
  .index_intro .seven {
    width: 100%;
  }
  
  .follow {
    display: none;
  }
  }


.action {
  position: relative;
  min-height: 300px;
  width: 100%;
  margin-bottom: 100px;
}

@media (min-width: 1024px) {
  .action {
    background-color: #f4f3f3;
  }
}


.action-label {
  position: absolute;
  z-index: 1;
  margin-top: 2.5%;
}

.caption {
  padding: 0px;
}

.caption-what {
  padding: 0px;
}

.caption-what h3, .caption-why h3, .caption-how h3{
  padding-bottom: 20px;
}

.caption-why {
  padding: 0px;
}


@media (min-width: 1024px) {
  .caption-what, .caption-why, .caption-how {
    background: url("../../img/ohka-pattern.svg");
    background-position: center center;
    background-repeat: repeat;
  }
  
  .caption-what {
    padding: 75px 75px 75px 250px;
  }

  .caption-why {
    padding: 75px 100px 75px 300px;
  }

  .caption-how {
    padding: 75px 75px 75px 180px;
  }
}


/*    !!!!!!!!!!  WHAT  !!!!!!!!!!    */

.actionblock {
  position: relative;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

@media (min-width: 1024px) {
  .actionblock { 
    width: 74.0%;
    border-bottom: none;
  }

  .action {
    margin-left: 26%;
  }
}




.what {
  position: relative;
  margin-top: 150px;
}

.whatkid {
  float: left;
  width: 125px;
  padding-right: 30px;
}

  @media (max-width: 1023px) {
  .whatword {
    display: none;
  }
  }

  @media (min-width: 1024px) {
  .whatkid {
  position: absolute;
  width: 386px;
  right: -70px;
  top: -240px;
}
    
  .whatword {
  margin-top: 50px;
  }

  .whatword-title {
  display: none;
  }
  }

  @media (min-width: 1200px) {
  .caption-what {
    padding: 100px 100px 100px 250px;
  }


  h6 { font-size: 24.0rem;
  }

  .whatword {
  margin-top: 65px;
  }
  }

  @media (min-width: 1270px) {
  .whatword {
  margin-top: 45px;
  }
  }


.why {
  right: 0;
  min-height: 346px;
  margin: 75px 0;
}

  @media (min-width: 1024px) {
  .why {
    margin-left: -20%;
  }
  }

.whykid {
  float: left;
  width: 125px;
  padding-right: 30px;
}

.whyword {
  margin-top: 30px;
  padding-right: 0%;
  right: -52%;
}

  @media (max-width: 1023px) {
  .whyword {
    display: none;
  }
  }


  @media (min-width: 1024px) {
  .whykid {
  position: absolute;
  width: 306px;
  left: -10px;
  top: -167px;
  }

  .whatword-title {
  display: none;
  }

  .whyword {
    margin-top: 50px;
  }
  }




.how {
  min-height: 346px;
  margin: 75px 0;
}

.howkid {
  float: left;
  width: 125px;
  padding-right: 10px;
}

.howword {
  margin-top: 10px;
}

  @media (max-width: 1023px) {
  .howword {
    display: none;
  }
  }

  @media (min-width: 1024px) {
  .howword {
    margin-top: 40px;
  }

  .howkid {
  position: absolute;
  width: 398px;
  right: -50px;
  top: 145px;
  }
  }

  @media (min-width: 1350px) {  
  }


  @media (min-width: 1133px) {
  .howword {
    margin-top: 20px;
  }
  }

  @media (min-width: 1200px) {
  .caption-how {
    padding: 100px 130px 100px 190px;
  }

  .caption-why {
    padding: 100px 150px 100px 300px;
  }

  .whyword {
    margin-top: 60px;
  }
  }


.donate {
  position: relative;
  margin: 75px 0;
}
  
  @media (min-width: 1024px) {
  .donate {
    margin: -90px 0 100px 0;
  }
  }