.categories-title {
  position: relative;
  padding: 50px;
  text-align: center;
  margin-top: 105px;
  background: url("../../img/ohka-pattern.svg");
  background-position: center center;
  background-repeat: repeat;
}

  @media (min-width: 700px) {
    .categories-title {
    margin-top: 0;
    }
  }

  @media (min-width: 1024px) {
    .categories-title {
    padding: 130px 50px;
    }
  }

  @media (max-height: 800px) {
    .categories-title {
    padding: 50px;
    }
  }


.featured-header {
  padding: 30px 0 0;
  text-align: center;
}

  @media (min-width: 800px) {
  .featured-header {
    padding: 60px 0 20px;
  }
  }

  @media (max-height: 800px) {
  .featured-header {
  padding: 30px 0 0;
  }
  }

.categories {
  text-align: center;
  padding: 20px 0;
}

.categories select {
  color: #6cb358;
}

.pagination {
  text-align: center;
  padding: 0px 0 30px 0;
}

.categories ul {
	margin: 0;
	padding: 0;
}

.categories ul li {
	list-style: none;
	display: block;
  margin-bottom: 10px;
}

  @media screen and (min-width: 800px) {
  .categories {
  padding: 55px 0;
  }
  }

  @media screen and (min-width: 1024px) {
  .categories {
  padding: 55px 0;
  }

  .pagination {
  padding: 15px 0 50px;
  }

  .categories ul li {
    display: inline-block;
    margin-bottom: 0;
  }
  }

.post_featured {
  position: relative;
  padding: 75px;
  text-align: center;
  margin-top: 20px;
}

  @media screen and (min-width: 1200px) {
  .post_featured {
    padding: 200px 75px;
  } 
  }

  @media (max-height: 800px) {
  .post_featured {
    padding: 75px;
  }
  }

.post_featured h2 {
  margin-bottom: 30px;
  color: #fff;
}

.post_featured h2 a, .post_featured h4 a {
  color: #fff;
}

.post_featured h2 a:hover, .post_featured h4 a:hover {
  opacity: .6;
}

/*    !!!!    POST PREVIEW    !!!!    */
.post_preview {
  position: relative;
  background-color: #f4ece3;
  padding: 10px 25px 25px 25px;
  margin-bottom: 40px;
}

  @media screen and (min-width: 800px) {
  .post_preview {
    padding: 25px 40px 40px 40px;
  }
  }

  @media screen and (min-width: 1024px) {
  .post_preview {
    padding: 40px 40px 40px 64px;
  }
  }

.post_preview-category {
  font-size: 14px;
  padding-bottom: 20px;
}

.post_preview img {
	position: absolute;
	left: auto;
	top: 0px;
	right: 0px;
	max-width: 220px;
}

.post_preview h2 {
  margin: 5px 0;
}

  @media screen and (min-width: 800px) {
  .post_preview h2 {
    margin: 10px 0;
  }
  }

.post_preview-index h2, .post_preview-entry h2 {
  margin-bottom: 25px;
}

.post_preview h2 a { color: #568d9b; }
.post_preview h2 a:hover { color: #406670; }

.readmore_link {
  font-weight: bold;
  padding-left: 10px;
}

@media screen and (max-width: 799px) {
  .sharenow {
    display: none;
  }
}

.share_post {
  vertical-align: top;
  text-align: center;
  list-style: none;
  font-size: 14px;
}

.share_post li {
  float: left;
  margin-right: 30px;
}

.share_post li {
  float: left;
  margin-right: 15px;
}

  @media screen and (min-width: 800px) {
  .share_post li {
  margin-right: 30px;
  } 
  }


  @media screen and (max-width: 1023px) {
  .post_preview img, .post_preview-index img {
    display: none;
  }
  }

  @media screen and (min-width: 1000px) {
  .post_preview {
    min-height: 220px;
  }
  .post_preview-index, .post_preview-entry {
    min-height: 160px;
  }
  }


  @media screen and (min-width: 1024px) {
  .post_preview-index {
    width: 56.6666666667%;
  }

	.post_preview-feed {
  	width: 100%;
  	min-height: 160px;
  }

  .post_preview img {
    border-radius: 100px;
    width: 180px;
    height: 180px;
    display: inline-block;
  }

  .post_preview-index img {
    border-radius: 100px;
    width: 160px;
    height: 160px;
    display: inline-block;
  }

	.has-image p, .has-image h2 {
	  padding-right: 32%;
	}
  }

.category_filter {
  height: 60px;
  border: 2px solid #6cb358;
}

  .module_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
  }

   .module_content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }