.post-title {
  position: relative;
  padding: 180px 40px 40px 40px;
  margin-top: 110px;
  margin-bottom: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.post-title-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.post-title-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

  @media (min-width: 700px) {
  .post-title {
    margin-top: 0px;
    padding: 350px 40px 40px 40px;
  }
  }

  @media (min-width: 800px) {
  .post-title {
    padding: 350px 0 7% 0px;
    margin-bottom: 75px;
  }
  }

  @media (min-width: 1200px) {
  .post-title {
    padding: 350px 0 60px 0px;
  }
  }

.post-friends {
  color: #fff;
  padding-bottom: 0;
  margin-bottom: 0;
}

  @media (max-width: 799px) {
  .post-friends-desktop {
    display: none;
  }
  }

  @media (min-width: 800px) {
  .post-friends-mobile {
    display: none;
  }
  }


.post-authorinfo {
  padding: 13px 0 0 20px;
}

  @media (min-width: 800px) {
  .post-authorinfo {
  padding: 10px 0 0 0;
  }
  }

  @media (max-width: 799px) {
  .post-authorinfo {
    float: left;
  }
  }

.post-date {
  font-family: "Source Serif Pro";
  text-transform: uppercase;
  color: #508c9e;
  margin-top: 10px;
}

.post-category, .post-author p {
  font-size: 17px;
  font-weight: 400;
}

.post-author img {
  display: inline-block;
  border-radius: 100px;
  width: 80px;
  height: 80px;
}

  @media (min-width: 800px) {
  .post-author img {
    border-radius: 100px;
    width: 120px;
    height: 120px;
  }
  }

  @media (max-width: 799px) {
  .post-author img {
    float: left;
  }
  }

.post-title-thumbnail {
  position: absolute;
  display: inline-block;
  border-radius: 100px;
  width: 180px;
  height: 180px;
  top: 40px;
  right: 40px;
}

.post-title-thumbnail {
  position: absolute;
  display: inline-block;
  border-radius: 100px;
  width: 180px;
  height: 180px;
  top: 40px;
  right: 40px;
}

  @media (max-width: 799px) {
  .post-title-thumbnail {
  display: none;
  }
  }

.post-title h1 {
  font-size: 3.0rem;
	line-height: 1.1;
	padding-bottom: 25px;
 	color: #fff;
	font-family: "Source Serif Pro";
}

  @media (min-width: 800px) {
  .post-title h1 {
  font-size: 6.0rem;
  }
  }

.post-title-social {
  display: inline-block;
  padding-top: 15px;
  vertical-align: top;
  list-style: none;
}

.post-title-social li {
  float: left;
  margin-right: 10px;
}

.post-title-social .circle-icon {
  background-color: #fff;
  margin-top: -10px;
}

.post-end {
  border-top: 2px solid #153454;
  margin-top: 30px;
  padding-top: 20px;
}

  @media (min-width: 800px) {
  .post-end {
    margin-top: 100px;
  }
  }

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:0px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}