{#
 # Basic page template
 # -------------------
 #
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
<div class="container">

	<h1 class="bp-row bp-title">{{ title }}</h1>

	<div class="bp-row">
		<div class="six columns offset-by-three">
			<h3>Subhead headline to lead into the post</h3>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sapien. Nunc nec est et velit tincidunt volutpat. Phasellus nec lorem id sapien ultricies semper in venenatis dolor. Aliquam quis nibh ex. Suspendisse nec metus sagittis, posuere ante lacinia, ultrices nibh. Integer eu metus rhoncus, tincidunt justo sed, rhoncus neque. Duis diam nunc, suscipit id imperdiet a, sagittis sed nibh. Cras rutrum sagittis nunc, ac interdum turpis tempor sed.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sapien. Nunc nec est et velit tincidunt volutpat. Phasellus nec lorem id sapien ultricies semper in venenatis dolor. Aliquam quis nibh ex. Suspendisse nec metus sagittis, posuere ante lacinia, ultrices nibh. Integer eu metus rhoncus, tincidunt justo sed, rhoncus neque. Duis diam nunc, suscipit id imperdiet a, sagittis sed nibh. Cras rutrum sagittis nunc, ac interdum turpis tempor sed.</p>
		</div>
	</div>

	<div class='bp-row'>
		<div class="bp-subheader six columns offset-by-three">Subhead Header</div>
	</div>	

		<div class="creator seven columns offset-by-two">
			<div class="speaker-title">
				<img src="{{ siteUrl }}img/image.png">
				<div>
					<h4>Image + Text Callout</h4>
					<p>Solid description text. It's the details and payoff to the brand-focused headline that hooks people in. It then leads to either learn more, share, or keep scrolling.</p>
					<a href='{{ entry.url }}'><button>Read More</button></a>
				</div>
			</div>
		</div>

		<div class="creator seven columns offset-by-two">
			<div class="speaker-title">
				<img src="{{ siteUrl }}img/image.png">
				<div>
					<h4>Image + Text Callout</h4>
					<p>Solid description text. It's the details and payoff to the brand-focused headline that hooks people in. It then leads to either learn more, share, or keep scrolling.</p>
					<a href='{{ entry.url }}'><button>Read More</button></a>
				</div>
			</div>
		</div>

		<div class="creator seven columns offset-by-two">
			<div class="speaker-title">
				<img src="{{ siteUrl }}img/image.png">
				<div>
					<h4>Image + Text Callout</h4>
					<p>Solid description text. It's the details and payoff to the brand-focused headline that hooks people in. It then leads to either learn more, share, or keep scrolling.</p>
					<a href='{{ entry.url }}'><button>Read More</button></a>
				</div>
			</div>
		</div>

	<div class="bp-row">
		<div class="six columns offset-by-three">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sapien. Nunc nec est et velit tincidunt volutpat. Phasellus nec lorem id sapien ultricies semper in venenatis dolor. Aliquam quis nibh ex. Suspendisse nec metus sagittis, posuere ante lacinia, ultrices nibh. Integer eu metus rhoncus, tincidunt justo sed, rhoncus neque. Duis diam nunc, suscipit id imperdiet a, sagittis sed nibh. Cras rutrum sagittis nunc, ac interdum turpis tempor sed.</p>
		</div>
	</div>

	<div class="bp-row">
		<div class="six columns offset-by-three">
			<h3>Subhead headline to lead into the post</h3>
			<img class='bp-img' src="{{ siteUrl }}img/image.png">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sapien. Nunc nec est et velit tincidunt volutpat. Phasellus nec lorem id sapien ultricies semper in venenatis dolor. Aliquam quis nibh ex. Suspendisse nec metus sagittis, posuere ante lacinia, ultrices nibh. Integer eu metus rhoncus, tincidunt justo sed, rhoncus neque. Duis diam nunc, suscipit id imperdiet a, sagittis sed nibh. Cras rutrum sagittis nunc, ac interdum turpis tempor sed.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sapien. Nunc nec est et velit tincidunt volutpat. Phasellus nec lorem id sapien ultricies semper in venenatis dolor. Aliquam quis nibh ex. Suspendisse nec metus sagittis, posuere ante lacinia, ultrices nibh. Integer eu metus rhoncus, tincidunt justo sed, rhoncus neque. Duis diam nunc, suscipit id imperdiet a, sagittis sed nibh. Cras rutrum sagittis nunc, ac interdum turpis tempor sed.</p>
		</div>
	</div>

	<div class="bp-row">
		<div class="bp-subheader six columns offset-by-three">Subhead Header</div>	
	</div>

	<div class="bp-row twelve columns bp-tertiary-list">
		<a href="#" title="Title Goes Here"><img src="{{ siteUrl }}img/image.png"></a>
		<a href="#" title="Title Goes Here"><img src="{{ siteUrl }}img/image.png"></a>
		<a href="#" title="Title Goes Here"><img src="{{ siteUrl }}img/image.png"></a>
		<a href="#" title="Title Goes Here"><img src="{{ siteUrl }}img/image.png"></a>
		<a href="#" title="Title Goes Here"><img src="{{ siteUrl }}img/image.png"></a>
		<a href="#" title="Title Goes Here"><img src="{{ siteUrl }}img/image.png"></a>
		<a href="#" title="Title Goes Here"><img src="{{ siteUrl }}img/image.png"></a>
		<a href="#" title="Title Goes Here"><img src="{{ siteUrl }}img/image.png"></a>
	</div>


	<div class="bp-row">
		<div class="six columns offset-by-three">
			<h3>Subhead headline to lead into the post</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sapien. Nunc nec est et velit tincidunt volutpat. Phasellus nec lorem id sapien ultricies semper in venenatis dolor. Aliquam quis nibh ex. Suspendisse nec metus sagittis, posuere ante lacinia, ultrices nibh. Integer eu metus rhoncus, tincidunt justo sed, rhoncus neque. Duis diam nunc, suscipit id imperdiet a, sagittis sed nibh. Cras rutrum sagittis nunc, ac interdum turpis tempor sed.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sapien. Nunc nec est et velit tincidunt volutpat. Phasellus nec lorem id sapien ultricies semper in venenatis dolor. Aliquam quis nibh ex. Suspendisse nec metus sagittis, posuere ante lacinia, ultrices nibh. Integer eu metus rhoncus, tincidunt justo sed, rhoncus neque. Duis diam nunc, suscipit id imperdiet a, sagittis sed nibh. Cras rutrum sagittis nunc, ac interdum turpis tempor sed.</p>
		</div>
	</div>

	<div class='v-row'>
		<div class="ten columns offset-by-one action-callout">
			<h3>Why Healthy Homes Matter In Omaha</h3>
			<a href='{{ entry.url }}'><button>Learn More</button></a>
		</div>
	</div>

</div><!--     End Of Container    -->
{% endblock %}
