{#
 # Basic page template
 # -------------------
 #
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
<div class='container-fullwidth'>
	<h1 class='bp-row bp-title'>{{ title }}</h1>
</div>

<div class='container'>
	{% for block in entry.basicBlocks %}

	    {% if block.type == "text" %}
		<div class='bp-row'>
			<div class='six columns offset-by-three'>
				{{ block.text|markdown }}
			</div>
		</div>

	    {% elseif block.type == "subheadHeader" %}
		<div class='bp-row'>
			<div class='bp-subheader six columns offset-by-three'>{{ block.subheadHeader }}</div>
		</div>

		{% elseif block.type == "imageTextCallout" %}
		<div class='bp-row'>
			<div class='creator six columns offset-by-three'>
				<div class='speaker-title'>
				    {% set image = block.calloutTertiaryImage.first() %}
			        {% if image %}
			        <img src='{{ image.getUrl }}' alt='{{ image.title }}'>
			        {% endif %}
				<div>
				
				<h4>{{ block.calloutHeader }}</h4>
				<p>{{ block.calloutBody }}</p>
				<a href='{{ block.calloutOptionalLink }}'><button>{{ block.calloutOptionalLinkText }}</button></a>
			</div>
		</div>
		</div>
		</div>

		{% elseif block.type == "tertiaryImage" %}
			<div class='bp-row twelve columns bp-tertiary-list'>
				{% for image in block.tertiaryImage %}
				    <a title='Title Goes Here'><img src='{{ image.getUrl() }}' alt='{{ image.title }}'></a>
				{% endfor %}
			</div>

	    {% elseif block.type == "actionCallout" %}		
			<div class='v-row'>
				{% set image = block.actionCalloutImage.first() %}
				<div class='ten columns offset-by-one action-callout' style='background-image:url({{ image.getURL() }})'>
					<div class='module_content'>
						<h3>{{ block.actionCalloutTitle }}</h3>
						<a href='{{ block.actionCalloutLink }}'><button>{{ block.actionCalloutButtonText }}</button></a>
					</div>
					<div class='module_overlay'></div>
				</div>
			</div>

		{% elseif block.type == "button" %}
			<div class='bp-row'>
				<div class='ten columns offset-by-one btn-cntr'>
					<a href='{{ block.buttonLink }}' target='_blank'><button>{{ block.buttonText }}</button></a>
				</div>
			</div>

    {% endif %}
{% endfor %}

</div>
{% endblock %}