.alert {
	text-align: left;
	font-weight: 600;
}

.alert p {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 21px;
}

.alert-success {
  	color: #fff;
  	background-color: #e67728;
}

.alert .read-more a {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .75px;
	color: #fff;
}

.alert .read-more a:hover {
	color: #d07f3c;
}