@media (max-width: 699px) {
	.alert {
	display: none;
}
}

.alert {
	color: #fff;
	background-color: #e67728;
	text-align: left;
	font-weight: 600;
}

.alert p {
	margin: 0;
	padding: 0 0 3px 0;
	color: #fff;
	font-size: 18px;
}

.alert .read-more a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .75px;
	color: #fff;
	padding-left: 5px;
	cursor: pointer;
}

.alert .read-more a:hover {
	color: #ac581d;
}