.button, button {
  -moz-transition: all 0.3s ease-in,all 0.35s ease-out;
  -o-transition: all 0.3s ease-in,all 0.35s ease-out;
  -webkit-transition: all 0.3s ease-in,all 0.35s ease-out;
  transition: all 0.3s ease-in,all 0.35s ease-out;
  border: none;
  background: #6cb358;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .5px;
  cursor: pointer;
  display: inline-block;
  z-index: 5000000;
  line-height: 50px;
  padding: 0px 40px 3px;
  border-radius: 60px;
}

@media (max-width: 1023px) {
.button-news {
  display: block;
}
}

.button:hover, button:hover {
  background: #558b46;
  color: #fff;
}

.button:active, button:active {
  background: #406735;
}

button.btm-right {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}

.super-nav button {
  line-height: 35px;
  padding: 0 30px;
  text-align: center;
  margin-top: 15px;
  text-transform: none;
}



.share {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 11px;
}

.share-post {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 14px;
}

.share-post-preview {
  line-height: 24px;
  padding: 5px;
  margin-left: 10px;
  margin-top: -5px;
}

.share-page {
  width: 100px;
  height: 30px;
  border-radius: 100px;
  line-height: 30px;
  padding: 20px 40px;
  margin-right: 25px;
  margin-bottom: 90px;
}

.share-footer {
  width: 35px;
  height: 35px;
  line-height: 36px;
  padding: 12px;
}


.share-dark                      { color: #fff; }

.share-dark.fa-envelope-o:hover  { background-color: #fb9642; }
 
.share-dark.fa-facebook          { background-color: #0071bc; }
.share-dark.fa-facebook:hover    { background-color: #005790; }
 
.share-dark.fa-twitter           { background-color: #12c1fd; }
.share-dark.fa-twitter:hover     { background-color: #1296c4; }



.share-light                     { background-color: #fff;    }

.share-light.fa-envelope-o       { color: #fb9642; }
.share-light.fa-envelope-o:hover { background-color: #fb9642; }

.share-light.fa-facebook         { color: #0071bc; }
.share-light.fa-facebook:hover   { background-color: #0071bc; }

.share-light.fa-twitter          { color: #12c1fd; }
.share-light.fa-twitter:hover    { background-color: #12c1fd; }

.share-light:hover               { color: #fff; }


.share.fa-facebook:active        { background-color: #003c63; }
.share.fa-twitter:active         { background-color: #0c6584; }
.share.fa-envelope-o:active      { background-color: #d07f3c; }