.button, button {
  -moz-transition: all 0.3s ease-in,all 0.35s ease-out;
  -o-transition: all 0.3s ease-in,all 0.35s ease-out;
  -webkit-transition: all 0.3s ease-in,all 0.35s ease-out;
  transition: all 0.3s ease-in,all 0.35s ease-out;
  border: none;
  background: #6cb358;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .5px;
  cursor: pointer;
  display: inline-block;
  z-index: 5000000;
  line-height: 50px;
  padding: 0px 40px 3px;
  border-radius: 60px;
  outline: none;
}

@media (max-width: 400px) {
.button, button {
  padding: 0px 20px 3px;
}
}

@media (max-width: 1023px) {
.button-news, .button-category {
  display: block;
}
}

@media (max-width: 1023px) {
.button-category {
  line-height: 30px;
}
}

.button:hover, button:hover {
  background: #60a84c;
  color: #fff;
}

button.btm-right {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}

button.featured {
  background-color: #fff;
  color: #6cb358;
}

button.featured:hover {
  background-color: #6cb358;
  color: #fff;
}

.super-nav button {
  line-height: 35px;
  padding: 0 25px 2px;
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn-cntr {
  text-align: center;
  margin-top: -30px;
}

.share {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
}

.share-index.fa-instagram {
  line-height: 23px;
}

.share-index {
  padding: 11px;
}

.share-post {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 14px;
}

.share-post-preview {
  line-height: 24px;
  padding: 5px;
  margin: -5px 5px 0 0;
}

  @media (min-width: 800px) {
  .share-post-preview {
  margin: -5px 0 0 5px;
  }
  }

.share-page {
  width: 100px;
  height: 30px;
  border-radius: 100px;
  line-height: 30px;
  margin-right: 10px;
  margin-bottom: 50px;
  padding: 15px 10px;
}

  @media (min-width: 1024px) {
  .share-page {
    padding: 20px 40px;
    margin-right: 25px;
    margin-bottom: 90px;
    margin-right: 25px;
  } 
  }

.share-footer {
  width: 35px;
  height: 35px;
  line-height: 36px;
  padding: 12px;
}

.share-dark                      { color: #fff; }
.share-dark.fa-envelope-o:hover  { background-color: #fb9642; }
.share-dark.fa-facebook          { background-color: #0071bc; }
.share-dark.fa-facebook:hover    { background-color: #005790; } 
.share-dark.fa-twitter           { background-color: #12c1fd; }
.share-dark.fa-twitter:hover     { background-color: #1296c4; }
.share-dark.fa-instagram         { background-color: #2c5c81; }
.share-dark.fa-instagram:hover   { background-color: #1d3c54; }

.share-light                     { background-color: #fff;    }
.share-light.fa-envelope-o       { color: #fb9642; }
.share-light.fa-envelope-o:hover { background-color: #fb9642; }
.share-light.fa-facebook         { color: #0071bc; }
.share-light.fa-facebook:hover   { background-color: #0071bc; }
.share-light.fa-twitter          { color: #12c1fd; }
.share-light.fa-twitter:hover    { background-color: #12c1fd; }
.share-light:hover               { color: #fff; }
.share-light.fa-instagram        { color: #fff; }
.share-light.fa-instagram:hover  { background-color: #1d3c54; }