footer {
	position: relative;
	padding: 0 0 25px 0;
	background-color: #fef9dd;
}

	@media screen and (min-width: 800px) {
		footer {
			padding: 0 0 75px 0;
		}
	}

footer, footer a {
	font-weight: 700;
}

footer h5 {
	color: #153454;
}

	@media screen and (max-width: 799px) {
		footer h5 {
			margin-bottom: 5px;
			margin-top: 35px;
			border-top: 1px solid #153454;
		}
	}

footer .row {
  padding: 15px 0;
}



.stories {
	background: #cee6c5;
	padding: 130px 0;
	color: #29465e;
}

.stories-container {
	margin: 0 auto;
	max-width: 1100px
}

.stories-author {
	position: relative;
	display: inline-block;
	float: left;
	text-align: center;
	width: 25%;
}

.stories-author-img {
	width: 130px;
	border-radius: 130px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.stories-divider {
	float: left;
	width: 40px;
	margin: -20px 80px 0 10px;
}

	@media screen and (max-width: 1023px) {
	.stories-divider, .stories-author  {
		display: none;
	}
	}


.stories-text {
	float: left;
	width: 100%;
}

	@media screen and (min-width: 1024px) {
	.stories-text {
		width: 60%;
	}
	
	.stories-title  {
		display: none;
	}
	}


.stories p {
	font-size: 16px;
	font-weight: 400;
}


.footer-super-nav {
	position: relative;
    padding: 35px 0 0 0;
   	text-align: center;
}

	@media screen and (max-width: 799px) {
		.footer-super-nav button {
			display: block;
			margin: 10px auto;
			width: 90%;
		}
	}

	@media screen and (min-width: 800px) {
		.footer-super-nav {
    		padding: 0 0 40px 0;
			top: -27px;
		}
	}

.footer-nav {
	list-style: none;
	font-size: 20px;
	font-weight: 100;
}

.footer-bottom p {
	font-size: 16px;
}

.footer-email {
	color: #153454;
}

.footer-email:hover {
	cursor: pointer;
	color: #fb9642;
}