ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: #ddd;
  float: left;
  padding: 6px 16px 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 5px;
  border-radius: 5px;
}

ul.pagination li a.active {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {
  background-color: #6cb358;
  border-color: #6cb358;
  color: #fff;
  cursor: pointer;
}

div.center {
  text-align: center;
}

.current {
  background-color: #bbb;
  color: #fff;
}