{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<div class='container-fullwidth post-title row' style='background-color: {{ entry.newsintroColor }}'>

	{% set image = entry.newseventsHeaderImage.first() %}
		{% if image %}
			<div class='post-title-img' style='background-image:url({{ image.getURL() }})'></div>
		{% endif %}

	<div class='ten columns offset-by-one'>
		<h1>{{ entry.title }}</h1>
		<ul class='post-title-social'>
			<li><p class='post-friends'>Tell Your Friends:&nbsp;</p></li>
			<li><a href="mailto:?subject={{ entry.title }}&body={{ entry.url }}"><i class='share share-post share-light fa fa-envelope-o fa-lg'></i></a></li>
			<li><a class="share share-post share-light fa fa-facebook fa-lg customer share" href="http://www.facebook.com/sharer.php?u={{ entry.url }}" title="Facebook share" target="_blank"></a></li>
			<li><a class="share share-post share-light fa fa-twitter fa-lg customer share" href="http://twitter.com/share?url={{ entry.url }}&amp;text={{ entry.title }}" title="Twitter share" target="_blank"></a></li>
		</ul>
	</div>

	{% for asset in entry.newseventsThumbnail %}
		<img class='post-title-thumbnail' src="{{ asset.url }}" alt="{{ asset.title }}">     
	{% endfor %}

	</div>

</div>


<div class='container'>
	<div class='three columns offset-by-one post-author'>
		{% for asset in entry.newseventsAuthorImage %}
			<img src="{{ asset.url }}" alt="{{ asset.title }}">
		{% endfor %}
		<div class='post-authorinfo'>
			<p><strong>{{ entry.newseventsAuthorName }}</strong>
			<br>{{ entry.newseventsAuthorJob }}</p>
		</div>
	</div>

	<div class='seven columns'>
		<h4 class='post-date'>{{ entry.postDate.format('F d, Y') }}</h4>

		{# Fetch all of the categories related to this entry #}
		{% set categories = craft.categories.relatedTo(entry) %}
		<p class='post-category'>Posted in:


		{# Output them #}
		{% for category in categories %}
		<a href="{{ category.url }}">{{ category.title }}&nbsp;</a>
		{% endfor %}
		</p>

		{{ entry.newseventsBody }}
	</div>
		
	<div class='ten columns offset-by-one'>
		{% for asset in entry.newseventsfullwidthImage %}
			<img src="{{ asset.url }}" alt="{{ asset.title }}">                  
		{% endfor %}
	</div>

	<div class='v-row post-end seven columns offset-by-four'>
		<p>Thanks for reading.
		<br>Remember to help us spread the word!</p>

		<a class='customer share' href='http://www.facebook.com/sharer.php?u={{ entry.url }}' title='Share via Facebook' target='_blank'><i class='share share-dark share-page fa fa-facebook fa-lg'></i></a>

		<a class='customer share' href="http://twitter.com/share?url={{ entry.url }}&amp;text={{ entry.title }}" title='Share via Twitter' target='_blank'><i class='share share-dark share-page fa fa-twitter fa-lg'></i></a>

		<p>What's Next:</p>

		{% paginate craft.entries.section('newsandevents').id('not ' ~ entry.id).limit(2) as pageInfo, pageEntries %}
		{% for entry in pageEntries %}
		<div class='row post_preview-entry post_preview'>
			<article class='has-image columns'>
				{# Fetch all of the categories related to this entry #}
				{% set categories = craft.categories.relatedTo(entry) %}
				{# Output them #}
				{% for category in categories %}
					<a class='post_preview-category' href='{{ category.url }}'>{{ category.title }}&nbsp;&nbsp;</a>
				{% endfor %}	
				<a href="{{ entry.url }}" title="{{ entry.title }}">
					{% for asset in entry.newseventsThumbnail %}
						<img src="{{ asset.url }}" alt="{{ asset.title }}">
					{% endfor %}
				</a>

				<h2><a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>
				<ul class="share_post">
					<li>
						<span class='sharenow'>Share Now</span>
						<a href="#" target='_blank'><i class='share share-light share-post-preview fa fa-facebook fa-lg'></i></a>
						<a href="#" target='_blank'><i class='share share-light share-post-preview fa fa-twitter fa-lg'></i></a>
						<a href="{{ entry.url }}" class='readmore_link' title="{{ entry.title }}">READ MORE &#187;</a>
					</li>
				</ul>
			</article>
		</div>
		{% endfor %}
		
		<a class="button" href='{{ url('newsandevents') }}'>More News & Events</a>

	</div>

</div>

{% endblock %}