{#
 # News And Events - Archive template
 # -------------------
 #
 # This template is loaded whenever http://example.com/newsandevents is
 # requested, because it is located at newsandevents/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "News & Events" %}

{% block content %}
	<div class='container'>
		
		<h1 class="bp-row bp-title">{{ title }}</h1>
		
		<div class='categories'>
			<div class='row'>			
			<select id='my_selection' class='category_filter six columns offset-by-three'>
			    <option value=''>Select A Category</option>
			    <option value='All' href='{{ url('newsandevents') }}'>All</option>
				{% nav category in craft.categories.group('newsandevents') %}  
				<option value='{{ category.title }}' href='{{ category.url }}'>{{ category.title }}</option>
				{% endnav %}
			</select>
			</div>

			<script>
			document.getElementById('my_selection').onchange = function() {
			    window.location.href = this.children[this.selectedIndex].getAttribute('href');
			}
			</script>
		</div>
	</div>

    {% paginate craft.entries.section('newsandevents').limit(5) as pageInfo, pageEntries %}
	
	<div class='container'>
		{% for entry in pageEntries %}
		<div class="row post_preview ten columns offset-by-one">
			<article class="has-image columns">
				<h2><a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>
				<div class="preview_content">
					<a href="{{ entry.url }}" title="{{ entry.title }}"><img src="img/image.png"></a>
					<p>{{ entry.summary }}</p>
					<ul class="share_post">
						<li>Share Now&nbsp;</li>
						<li><a href="#" target="_blank"><i class='share share-light share-post-preview fa fa-facebook fa-lg'></i></a></li>
						<li><a href="#" target="_blank"><i class='share share-light share-post-preview fa fa-twitter fa-lg'></i></a></li>
					</ul>
					<p class="readmore_link">
						<a href="{{ entry.url }}" title="{{ entry.title }}">READ MORE &#187;</a>
					</p>
				</div>
			</article>
		</div>
		{% endfor %}
	</div><!--     End Of Container    -->

	<div class='container pagination'>
		{% include "_includes/pagination" %}
	</div>

{% endblock %}
