<div class='row post_preview-index post_preview'>
	<article class='has-image columns'>
		{# Fetch all of the categories related to this entry #}
		{% set categories = craft.categories.relatedTo(entry) %}
		{# Output them #}
		{% for category in categories %}
			<a class='post_preview-category' href='{{ category.url }}'>{{ category.title }}&nbsp;&nbsp;</a>
		{% endfor %}	
		<a href='{{ entry.url }}' title='{{ entry.title }}'>
			{% for asset in entry.newseventsThumbnail %}
				<img src='{{ asset.url }}' alt='{{ asset.title }}'>
			{% endfor %}
		</a>
		<h2><a href='{{ entry.url }}' title='{{ entry.title }}'>{{ entry.title }}</a></h2>
		<ul class='share_post'>
			<li>
				<span class='sharenow'>Share Now</span>
				<a class='customer share' href='http://www.facebook.com/sharer.php?u={{ entry.url }}' target='_blank'><i class='share share-light share-post-preview fa fa-facebook fa-lg'></i></a>
				<a class='customer share' href='http://twitter.com/share?url={{ entry.url }}&amp;text={{ entry.title }}' target='_blank'><i class='share share-light share-post-preview fa fa-twitter fa-lg'></i></a>
				<a href='{{ entry.url }}' class='readmore_link' title='{{ entry.title }}'>READ MORE &#187;</a>
			</li>
		</ul>
	</article>
</div>