{#
 # What's A Healthy Home template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<div class='container contact'>

	<div class='bp-title'>{{ entry.pageTitle }}</div>

		<div class='v-row v-row-intro v-row-contact-intro'>
			<div class="v-intro six columns offset-by-three">
				<h3>Send OHKA a message!</h3>
    		</div>
		</div>






		<div class='v-row v-row-contact six columns offset-by-three'>

			{% macro errorList(errors) %}
			    {% if errors %}
			        <ul class="errors">
			            {% for error in errors %}
			                <li>{{ error }}</li>
			            {% endfor %}
			        </ul>
			    {% endif %}
			{% endmacro %}

			{% from _self import errorList %}

			<form method="post" action="" accept-charset="UTF-8">
			    {{ getCsrfInput() }}
			    <input type="hidden" name="action" value="contactForm/sendMessage">
			    <input type="hidden" name="redirect" value="contact/thanks">

			    <input placeholder="Name (required)" id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
			    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

			    <input placeholder="Email (required)" id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
			    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

			    <textarea placeholder="Message (required)" rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
			    {{ message is defined and message ? errorList(message.getErrors('message')) }}
			
			    <button type='submit' value='Submit Message' class='button'>Submit Message</button>
				<input type='text' name="healthykidsnospam" id='healthykidsnospam'>
			</form>
		</div>




		<div class='v-row v-row-contact six columns offset-by-three'>
			<h3>Give us a call!</h3>
			<h3 class='orange'>402 934 9700</h3>
		</div>

		<div class='v-row v-row-contact six columns offset-by-three'>
			<h3>Or visit us in real life!</h3>
			<p class='orange'>
				<a href='https://www.google.com/maps/place/Omaha+Healthy+Kids+Alliance/@41.265116,-95.9909632,15z/data=!4m2!3m1!1s0x0:0xe0a64d268384ff59?sa=X&ved=0ahUKEwiOkt3Muf3NAhVIOyYKHQPcAoMQ_BIIcTAN'>
				Omaha Healthy Kids Alliance<br>
				5006 Underwood Ave<br>
				Omaha, NE 68132</a>
			</p>
		</div>

		<div class='v-row six columns offset-by-three'>

			<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXMrq-skoFS0AnbyjZPU4SrbQCmZQXGaQ&callback=initMap' async defer></script>

			<div id='map'>
		   		<a href='https://www.google.com/maps/place/Omaha+Healthy+Kids+Alliance/@41.265116,-95.9909632,15z/data=!4m2!3m1!1s0x0:0xe0a64d268384ff59?sa=X&ved=0ahUKEwiOkt3Muf3NAhVIOyYKHQPcAoMQ_BIIcTAN'>
		   		</a>
			</div>			

			<script>
			 function initMap() {
			     var mapDiv = document.getElementById('map');
			     var map = new google.maps.Map(mapDiv, {
			   		center: {lat: 41.26507, lng: -95.99094},
			         zoom: 17,
			         disableDefaultUI: true,
					styles: [
							{
						featureType: 'all',
					    elementType: 'all',
					    stylers: [
					      { saturation: '-100' },
					    ]
						}
					]
			 	});

				var image = 'http://104.131.188.200/img/ohka_mapicon.svg';
				var beachMarker = new google.maps.Marker({
					position: {lat: 41.26507, lng: -95.99094},
					map: map,
					icon: image
				});
			}
			</script>
		</div>
</div>
{% endblock %}