{#
 # What's A Healthy Home template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<div class='container contact'>

	<div class="bp-title">{{ entry.pageTitle }}</div>

		<div class='v-row v-row-intro v-row-contact-intro'>
			<div class="v-intro six columns offset-by-three">
				<h3>Send OHKA a message!</h3>
    		</div>
		</div>

		<div class='v-row v-row-contact six columns offset-by-three'>
			<form action="action_page.php">
				<input type="text" name="firstname" onfocus="if(this.value == 'Name (required)') { this.value = ''; }" value="Name (required)"><br>
				<input type="text" name="lastname" onfocus="if(this.value == 'Email (required)') { this.value = ''; }" value="Email (required)"><br>
				<textarea rows="4" cols="50" name="comment" form="usrform" onfocus="if(this.value == 'Message') { this.value = ''; }" value="Message">Message</textarea>			  
				<button type="submit" value="Submit">SUBMIT MESSAGE</button>
			</form>
		</div>

		<div class='v-row v-row-contact six columns offset-by-three'>
			<h3>Give us a call!</h3>
			<h3 class='orange'>402 934 9700</h3>
		</div>

		<div class='v-row v-row-contact six columns offset-by-three'>
			<h3>Or visit us in real life!</h3>
			<p class='orange'>
				Omaha Healthy Kids Alliance<br>
				5006 Underwood Ave<br>
				Omaha, NE 68132
			</p>
		</div>

		<div class='v-row four columns offset-by-four'>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXMrq-skoFS0AnbyjZPU4SrbQCmZQXGaQ&callback=initMap" async defer></script>
		    <style>
		       #map {
		        width: 100%;
		        height: 400px;
		      }
		    </style>
		    	<div id="map"></div>
		    <script>
			    function initMap() {
			        var mapDiv = document.getElementById('map');
			        var map = new google.maps.Map(mapDiv, {
	            		center: {lat: 41.26507, lng: -95.99094},
			            zoom: 17,
						styles: [
	  					{
							featureType: 'all',
						    elementType: 'all',
						    stylers: [
						      { saturation: '-100' },
						    ]
						}
					]
			    });
				
				var iconBase = 'http://104.131.188.200/img';
				var marker = new google.maps.Marker({
				    position: myLatLng,
				    map: map,
				    icon: iconBase + 'ohka_mapicon.svg'
				});
			}
		    </script>

		</div>
</div><!--     End Of Container    -->

{% endblock %}
