{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends '_layout' %}

{% block content %}
	<div class='container-fullwidth'>
		{% set image = entry.homepageHeaderImage.first() %}
		<div class='homepage-hero' style='background-image:url({{ image.getURL() }})'>
			<a href='{{ entry.homepageCtaLink }}'>

				{% set image = entry.homepageVideoFallbackImage.first() %}		
				<video autoplay='autoplay' loop='loop' poster='background-image:url({{ image.getURL() }})'>

					{% set asset = entry.homepageVideoWebm.first() %}
					{% if asset %}
						<source src="{{ asset.url }}" type="video/webm">
					{% endif %}

					{% set asset = entry.homepageVideoMp4.first() %}
					{% if asset %}
						<source src="{{ asset.url }}" type="video/mp4">
					{% endif %}	
				</video>
				<div class="cta">
					{% if entry.ctaButton %}
					    <a class="button" href='{{ entry.homepageCtaLink }}' title='{{ entry.homepageCtaButtonText }}'>{{ entry.homepageCtaButtonText }}</a>
					{% endif %}
				</div>
			</a>
		</div>
	</div>

	<div class='container'>
		<div class='row index_intro'>
			<h1 class='seven columns'>{{ entry.missionStatement }}<span>&nbsp;&nbsp;&nbsp;<a class='learnmore' href='{{ entry.missionLink }}'>Learn&nbsp;More&nbsp;&#187;</a></span></h1>
		</div>
		<div class='row'>
			<p class="six columns">What&rsquo;s New:</p>
			<p class="follow">FOLLOW US!&nbsp;&nbsp;
		    <a href='https://www.facebook.com/Omahahealthykids' title='Omaha Healthy Kids Alliance - Facebook' target="_blank"><i class='share share-index share-dark fa fa-facebook'></i></a>&nbsp;
		    <a href='https://twitter.com/ohka1' title='Omaha Healthy Kids Alliance - Twitter' target="_blank"><i class='share share-index share-dark fa fa-twitter'></i></a>&nbsp;
		    <a href='https://www.instagram.com/omahahealthykids/' title='Omaha Healthy Kids Alliance - Instagram' target="_blank"><i class='share share-index share-dark fa fa-instagram'></i></a>
			</p>
		</div>
	</div>

	<div class="container-fullwidth">
		{% for entry in craft.entries.section('newsandevents').limit(2).find() %}
		<div class='row post_preview-index post_preview'>
			<article class='has-image columns'>
				{# Fetch all of the categories related to this entry #}
				{% set categories = craft.categories.relatedTo(entry) %}
				{# Output them #}
				{% for category in categories %}
					<a class='post_preview-category' href='{{ category.url }}'>{{ category.title }}&nbsp;&nbsp;</a>
				{% endfor %}	
				<a href="{{ entry.url }}" title="{{ entry.title }}">
					{% for asset in entry.newseventsThumbnail %}
						<img src="{{ asset.url }}" alt="{{ asset.title }}">
					{% endfor %}
				</a>
				<h2><a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>
				<ul class="share_post">
					<li>
						<span class='sharenow'>Share Now</span>
						<a class='customer share' href='http://www.facebook.com/sharer.php?u={{ entry.url }}' target='_blank'><i class='share share-light share-post-preview fa fa-facebook fa-lg'></i></a>
						<a class='customer share' href='http://twitter.com/share?url={{ entry.url }}&amp;text={{ entry.title }}' target='_blank'><i class='share share-light share-post-preview fa fa-twitter fa-lg'></i></a>
						<a href="{{ entry.url }}" class='readmore_link' title="{{ entry.title }}">READ MORE &#187;</a>
					</li>
				</ul>
			</article>
		</div>
		{% endfor %}
	</div>

	<div class="container">
		<div class='row'>
			<a class="button button-news" href='{{ url('newsandevents') }}' title="More News & Events">More News & Events</a>
		</div>

		<div class="row animate what actionblock">
			<div class="action-label">
				<a href='{{ entry.actioncalloutoneLink }}'><h6 class='whatword'>{{ entry.actioncalloutoneHeadline }}</h6></a>
			</div>
			<div class="offset-by-three action action-right">
				<div class="caption-what">
					{% for asset in entry.homepageFooterImage %}
					<img class='whatkid' src="{{ asset.url }}" alt="{{ asset.title }}">
					{% endfor %}
					<h6 class='whatword-title'>{{ entry.actioncalloutoneHeadline }}</h6>
					<h3>{{ entry.actioncalloutoneBody }}</h3>
					<h4><a href='{{ entry.actioncalloutoneLink }}'>{{ entry.actioncalloutoneLinkText }}</a></h4>
				</div>
			</div>
		</div>

		<div class="row animate why actionblock">
			<div class="action-label whyword">
				<a href='{{ entry.actioncallouttwoLink }}'><h6>{{ entry.actioncallouttwoHeadline }}</h6></a>
			</div>
			<div class="action action-left">
				<div class="caption-why">
					<img class='whykid' src='img/OHKA-KidImage-ZhyAire.png'>  
					<h6 class='whatword-title'>{{ entry.actioncallouttwoHeadline }}</h6>      			        
					<h3>{{ entry.actioncallouttwoBody }}</h3>
					<h4><a href='{{ entry.actioncallouttwoLink }}'>{{ entry.actioncallouttwoLinkText }}</a></h4>
				</div>
			</div>
		</div>

		<div class="row animate how actionblock">
			<div class="action-label howword">
				<a href='{{ entry.actioncalloutthreeLink }}'><h6>{{ entry.actioncalloutthreeHeadline }}</h6></a>
			</div>
			<div class="action action-right">
				<div class="caption-how">
					<img class='howkid' src='img/OHKA-KidImage-Brighton.png'>
					<h6 class='whatword-title'>{{ entry.actioncalloutthreeHeadline }}</h6>      			        
					<h3>{{ entry.actioncalloutthreeBody }}</h3>
					<h4><a href='{{ siteUrl('how-ohka-makes-a-difference') }}'>Learn More</a></h4>
				</div>
			</div>
		</div>

		<div class='row donate'>
			<a href='{{ siteUrl('donate') }}'>
				<img class='seven columns offset-by-one' src='img/donate.svg'>
			</a>
		</div>
	</div>

</div>

{% for asset in entry.homepageFooterImage %}
	<img class='u-max-full-width' src="{{ asset.url }}" alt="{{ asset.title }}">
{% endfor %}

{% endblock %}