{#
 # What's A Healthy Home template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<div class="container">

	<h1 class="v-title">{{ entry.pageTitle }}</h1>

	<div class="v-intro-img ten columns offset-by-one">
		{% for asset in entry.headerImage %}
		<img src="{{ asset.url }}" alt="{{ asset.title }}">                               
		{% endfor %}
	</div>



	{% for block in entry.visualBlocks %}

	    {% if block.type == "heading" %}
			<div class='v-row'>
				<div class="v-intro six columns offset-by-three">
	        <p>{{ block.heading }}</p>
	    	</div>
			</div>


	    {% elseif block.type == "icons" %}
			<div class='v-row'>
				<div class='eight columns offset-by-two v-tertiary'>
			        {% set image = block.iconLeft.first() %}
			        {% if image %}
			          <img src="{{ image.getUrl }}" alt="{{ image.title }}">
			        {% endif %}
					
					{% set image = block.iconCenter.first() %}
			        {% if image %}
			          <img src="{{ image.getUrl }}" alt="{{ image.title }}">
			        {% endif %}

					{% set image = block.iconRight.first() %}
			        {% if image %}
			          <img src="{{ image.getUrl }}" alt="{{ image.title }}">
			        {% endif %}
				</div>
			</div>


	    {% elseif block.type == "image" %}

	        {% set image = block.image.first() %}
	        {% if image %}
	            <img src="{{ image.getUrl }}" alt="{{ image.title }}">
	        {% endif %}


	    {% elseif block.type == "text" %}

	        {{ block.text|markdown }}
	        

	    {% elseif block.type == "quote" %}
			<div class='v-row'>
				<div class="staggered-callout">
					<div class="staggered-callout-image-right borders">
						<div class='borderedimage'></div>
					</div>

					<div class="row staggered-callout-container">
						<div class="five columns staggered_callout-content">
							<h3>Housing and Health Are Connected</h3>
							<p>A Healthy Home promotes the growth and development of children by making direct connections between quality housing and health outcomes. A growing body of evidence links housing issues to health problems such as asthma, lead posioning, cancer, and injuries.</p>
							<a href="#"><strong>Optional Link</strong></a>
						</div>
					</div>
				</div>
			</div>
	    {% endif %}

	{% endfor %}














	<!--   Staggered Callout - Image Right   -->
	<div class='v-row'>
		<div class="staggered-callout">
			<div class="staggered-callout-image-right borders">
				<div class='borderedimage'></div>
			</div>

			<div class="row staggered-callout-container">
				<div class="five columns staggered_callout-content">
					<h3>Housing and Health Are Connected</h3>
					<p>A Healthy Home promotes the growth and development of children by making direct connections between quality housing and health outcomes. A growing body of evidence links housing issues to health problems such as asthma, lead posioning, cancer, and injuries.</p>
					<a href="#"><strong>Optional Link</strong></a>
				</div>
			</div>
		</div>
	</div>

	<!--   Staggered Callout - Image Left   -->
	<div class='v-row'>
		<div class="staggered-callout">
			<div class="staggered-callout-image-left borders">
				<div class='borderedimage'></div>
			</div>			
			<div class="row staggered-callout-container">
				<div class="five columns offset-by-seven staggered_callout-content">
					<h3>Home is Where the Lead is</h3>
					<p>A Healthy Home minimizes the risks of poisoning caused by lead-contaiminated paint, water, soil, and other sources. Children exposed to lead can develop learning disabilites and challenges that contribute to behavioral problems.</p>
					<a href="#"><strong>Optional Link</strong></a>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class='v-row'>
		<div class="seven columns offset-by-three">
			<h2 class='sec-title darkblue'>8 Ways to Make Your Home Healthier</h2>
			<h3 class='sec-title lightblue'>Learn How You Can Make Your Home Healthier</h3>
			<ol>
				<li><p><strong>Keep it Dry:</strong> Excess moisture can contribute to mold growth and trigger asthma, allergy and potential respiratory problems.</p></li>
				<li><p><strong>Keep it Clean:</strong> Control sources of dust and contaminants by crwating smooth and cleanable surfaces, reducing clutter, and using effective, wet cleaning methods.</p></li>
				<li><p><strong>Keep it Pest-Free:</strong> Exposure to mice and cockroaches can cause asthma episodes in children. However, chemical remedies for pest infestations can cause health problems, too. The use of non-toxic pest control is best, especially when children are present in the home.</p></li>
				<li><p><strong>Keep you Home Safe:</strong> Store chemicals where they are not accesible to kids. Make sure smoke and carbon monoxide detectors are installed.</p></li>
				<li><p><strong>Keep it Toxic Free</strong> These include lead, radon, pesticides, volatile organic compounds, and environmental tobacco smoke. Exposure to asbestos particles, radon gas, carbon monoxide, and second-hand tobacco smoke are far higher indoors than outside.</p></li>
				<li><p><strong>Keep it Ventilated:</strong> Studies show that increasing the fresh air supply in a home improves respiratory health. Use HEPA furnace filters and change them seasonally.</p></li>
				<li><p><strong>Keep it Maintained:</strong> Inspect, clean and repair your home routinely.</p></li>
				<li><p><strong>Keep it Energy Efficient:</strong> An energy efficient home is more comfortable, saves you money, and is 'green'</p></li>
			</ol>
		</div>
	</div>

	<div class='v-row'>
		<div class="ten columns offset-by-one action-callout">
			<h3>Why Healthy Homes Matter In Omaha</h3>
			<a href='{{ entry.url }}'><button>Learn More</button></a>
		</div>
	</div>

</div><!--     End Of Container    -->

{% endblock %}
