{#
 # What's A Healthy Home template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<div class="container">

	<h1 class="v-title">{{ entry.pageTitle }}</h1>

	<div class="v-intro-img ten columns offset-by-one">
		{% for asset in entry.headerImage %}
		<img src="{{ asset.url }}" alt="{{ asset.title }}">                               
		{% endfor %}
	</div>

	{% for block in entry.visualBlocks %}

	    {% if block.type == "heading" %}
			<div class='v-row'>
				<div class="v-intro six columns offset-by-three">
	        		<p>{{ block.heading }}</p>
	    		</div>
			</div>

	    {% elseif block.type == "icons" %}
			<div class='v-row'>
				<div class='eight columns offset-by-two v-tertiary'>
			      {% set image = block.iconLeft.first() %}
			        {% if image %}
			          <img src="{{ image.getUrl }}" alt="{{ image.title }}">
			        {% endif %}
					
						{% set image = block.iconCenter.first() %}
			        {% if image %}
			          <img src="{{ image.getUrl }}" alt="{{ image.title }}">
			        {% endif %}

						{% set image = block.iconRight.first() %}
			        {% if image %}
			          <img src="{{ image.getUrl }}" alt="{{ image.title }}">
			        {% endif %}
				</div>
			</div>


	    {% elseif block.type == "staggeredCalloutImageRight" %}
			<div class='v-row'>
				<div class="staggered-callout">
					<div class="staggered-callout-image-right borders">
						{% set image = block.staggeredCalloutImage.first() %}
						<div class='borderedimage' style="background-image:url({{ image.getURL() }})"></div>
					</div>

					<div class="row staggered-callout-container">
						<div class="five columns staggered_callout-content">
							<h3>{{ block.staggeredCalloutTitle }}</h3>
							<p>{{ block.staggeredCalloutBody }}</p>
							<strong>{{ block.staggeredCalloutLink }}</strong>
						</div>
					</div>
				</div>
			</div>


	    {% elseif block.type == "staggeredCalloutImageLeft" %}
			<div class='v-row'>
				<div class="staggered-callout">
					<div class="staggered-callout-image-left borders">
						{% set image = block.staggeredCalloutImage.first() %}
						<div class='borderedimage' style="background-image:url({{ image.getURL() }})"></div>
					</div>

					<div class="row staggered-callout-container">
						<div class="five columns offset-by-seven staggered_callout-content">
							<h3>{{ block.staggeredCalloutTitle }}</h3>
							<p>{{ block.staggeredCalloutBody }}</p>
							<strong>{{ block.staggeredCalloutLink }}</strong>
						</div>
					</div>
				</div>
			</div>


	    {% elseif block.type == "text" %}
			<div class='v-row'>
				<div class="seven columns offset-by-three">
					<h2 class='sec-title darkblue'>{{ block.textHeading }}</h2>
					<h3 class='sec-title lightblue'>{{ block.textSubHeading }}</h3>
	        		{{ block.text|markdown }}
				</div>
			</div>


	    {% elseif block.type == "actionCallout" %}		
			<div class='v-row'>
				{% set image = block.actionCalloutImage.first() %}
				<div class='ten columns offset-by-one action-callout' style='background-image:url({{ image.getURL() }})'>
					<h3>{{ block.actionCalloutTitle }}</h3>
					<a href='{{ block.actionCalloutLink }}'><button>{{ block.actionCalloutButtonText }}</button></a>
				</div>
			</div>

	    {% endif %}
	{% endfor %}

</div><!--     End Of Container    -->

{% endblock %}
