{#
 # Resources index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/resources is
 # requested, because it is located at resources/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Resources" %}

{% block content %}
	<div class='container-fullwidth'>
		<h1 class="bp-row categories-title">{{ title }}</h1>
	</div>

	<div class='container'>
		<div class='categories'>
			<div class='row'>			
			<select id='my_selection' class='category_filter four columns offset-by-four'>
			    <option value=''>Select A Category</option>
			    <option value='All' href='{{ url('resources') }}'>All</option>
				{% nav category in craft.categories.group('resources') %}  
				<option value='{{ category.title }}' href='{{ category.url }}'>{{ category.title }}</option>
				{% endnav %}
			</select>
			</div>

			<script>
			document.getElementById('my_selection').onchange = function() {
			    window.location.href = this.children[this.selectedIndex].getAttribute('href');
			}
			</script>
		</div>
	</div>

    {% paginate craft.entries.section('resources').limit(5) as pageInfo, pageEntries %}
	
	<div class='container'>
		{% for entry in pageEntries %}
		<div class="row post_preview ten columns offset-by-one">
			<article class="has-image columns">
					{# Fetch all of the categories related to this entry #}
					{% set categories = craft.categories.relatedTo(entry) %}
					{# Output them #}
					{% for category in categories %}
						<a class='post_preview-category' href='{{ category.url }}'>{{ category.title }}&nbsp;&nbsp;</a>
					{% endfor %}	
					<a href="{{ entry.url }}" title="{{ entry.title }}">
						{% for asset in entry.resourcesThumbnail %}
							<img src="{{ asset.url }}" alt="{{ asset.title }}">
						{% endfor %}
					</a>
				<h2><a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>
				<p>{{ entry.summary }}</p>
				<ul class="share_post">
					<li>
						<span class='sharenow'>Share Now</span>
						<a class='customer share' href='http://www.facebook.com/sharer.php?u={{ entry.url }}' target='_blank'><i class='share share-light share-post-preview fa fa-facebook fa-lg'></i></a>
						<a class='customer share' href='http://twitter.com/share?url={{ entry.url }}&amp;text={{ entry.title }}' target='_blank'><i class='share share-light share-post-preview fa fa-twitter fa-lg'></i></a>
						<a href="{{ entry.url }}" class='readmore_link' title="{{ entry.title }}">READ MORE &#187;</a>
					</li>
				</ul>
			</article>
		</div>
		{% endfor %}
	</div><!--     End Of Container    -->

		<div class='container pagination'>
			{% include "_includes/pagination" %}
		</div>

{% endblock %}