{#
 # What's A Healthy Home template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<div class='container'>
		
		<h1 class="bp-row categories-title">{{ category.title }}</h1>

		<div class='categories'>
			<div class='row'>			
			<select id='my_selection' class='category_filter four columns offset-by-four'>
			    <option value=''>Select A Category</option>
			    <option value='All' href='{{ url('resources') }}'>All</option>
				{% nav category in craft.categories.group('resources') %}  
				<option value='{{ category.title }}' href='{{ category.url }}'>{{ category.title }}</option>
				{% endnav %}
			</select>
			</div>

			<script>
			document.getElementById('my_selection').onchange = function() {
			    window.location.href = this.children[this.selectedIndex].getAttribute('href');
			}
			</script>
		</div>
	</div>

    {% paginate craft.entries.section('resources').limit(5) as pageInfo, pageEntries %}
	
	<div class='container'>
		{% for entry in pageEntries %}
		<div class="row post_preview ten columns offset-by-one">
			<article class="has-image columns">
				<h2><a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>
				<div class="preview_content">
					<a href="{{ entry.url }}" title="{{ entry.title }}">
						{% for asset in entry.newseventsThumbnail %}
							<img src="{{ asset.url }}" alt="{{ asset.title }}">
						{% endfor %}
					</a>
					<p>{{ entry.summary }}</p>
					<ul class="share_post">
						<li>Share Now&nbsp;</li>
						<li><a href="#" target="_blank"><i class='share share-light share-post-preview fa fa-facebook fa-lg'></i></a></li>
						<li><a href="#" target="_blank"><i class='share share-light share-post-preview fa fa-twitter fa-lg'></i></a></li>
					</ul>
					<p class="readmore_link">
						<a href="{{ entry.url }}" title="{{ entry.title }}">READ MORE &#187;</a>
					</p>
				</div>
			</article>
		</div>
		{% endfor %}
	</div><!--     End Of Container    -->

		<div class='container pagination'>
			{% include "_includes/pagination" %}
		</div>

{% endblock %}
